body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #34495e;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

section#features {
    padding: 20px;
}

section#features ul {
    list-style-type: none;
    padding: 0;
}

section#features li {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

section#features img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px 0;
}
